@model MiniHulu.Models.Episode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Episode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeasonNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeasonNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EpisodeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EpisodeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Runtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TVShow.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TVShow.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EpisodeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
